@model ViewModels.TravelGuideModel 
 @{   ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>




    @using (Html.BeginForm("Create", "TravelGuides", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-field">
                <i class="material-icons prefix">label</i>
                @Html.EditorFor(model => model.ObjectModel.TravelGuideName, new { htmlAttributes = new { @class = "form-control", @data_length = "200" } })
                @Html.LabelFor(model => model.ObjectModel.TravelGuideName, new { @data_error = "Error", @data_success = "" })
                @Html.ValidationMessageFor(model => model.ObjectModel.TravelGuideName, "", new { @class = "validate" })
            </div>

            <div class="input-field">
                @Html.TextAreaFor(model => model.ObjectModel.Description, new { @class = "materialize-textarea", @data_length = "500" })
                @Html.LabelFor(model => model.ObjectModel.Description)
                @Html.ValidationMessageFor(model => model.ObjectModel.Description, "", new { @class = "validate" })
            </div>

            <script>$('#Descripcion').trigger('autoresize');</script>


            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.ObjectModel.StartDate, htmlAttributes: new { @class = "active" })
                    @Html.EditorFor(model => model.ObjectModel.StartDate, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.ObjectModel.StartDate, "", new { @class = "validate" })
                </div>
                <div class="input-field col s6">
                    <input class="text-box single-line col-2" id="HoraInicio" name="HoraInicio" type="time" value="12:00" />
                    <label for="last_name" class="active">Hora inicio</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.ObjectModel.EndDate, htmlAttributes: new { @class = "active" })
                    @Html.EditorFor(model => model.ObjectModel.EndDate, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.ObjectModel.EndDate, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s6">
                    <input class="text-box single-line col-2" id="HoraFin" name="HoraFin" type="time" value="12:00" />
                    <label for="last_name" class="active">Hora fin</label>
                </div>


                <div class="row">
                    <div class="input-field col s6">
                        @Html.DropDownListFor(model => model.ObjectModel.SelectedCountry, new SelectList(Model.ObjectModel.Countries, "id", "countryname"), "País Destino", new { @class = "form-control" })
                    </div>
                 </div>
                </div>

            <br />
            <label for="file">Imagen del evento: </label>
            <br />
            <input type="file" name="file" id="file" />

            <br />
            <br />
            <div class="form-group right-align">
                <div class="col-md-offset-2 col-md-10 align-center">
                    <input type="submit" value="Crear" class="btn btn-primary #29b6f6 light-blue lighten-1" />
                </div>
            </div>

            </div>



        <script>
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });</script>  

<script>
            $(document).ready(function () {
                $('select').material_select();
            });
</script>
    }