@model ViewModels.TravelGuideModel 
 @{   ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>




    @using (Html.BeginForm("Create", "TravelGuides", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-field">
                <i class="material-icons prefix">label</i>
                @Html.EditorFor(model => model.Model.TravelGuideName, new { htmlAttributes = new { @class = "form-control", @data_length = "200" } })
                @Html.LabelFor(model => model.Model.TravelGuideName, new { @data_error = "Error", @data_success = "" })
                @Html.ValidationMessageFor(model => model.Model.TravelGuideName, "", new { @class = "validate" })
            </div>

            <div class="input-field">
                @Html.TextAreaFor(model => model.Model.Description, new { @class = "materialize-textarea", @data_length = "500" })
                @Html.LabelFor(model => model.Model.Description)
                @Html.ValidationMessageFor(model => model.Model.Description, "", new { @class = "validate" })
            </div>

            @*<div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.Model.SelectedCountry)
                        @Html.DropDownListFor(model => model.Model.SelectedCountry, new SelectList(Model.Model.Countries, "Value", "Text"), "País", new { @class = "form-control" })
                    </div>
                </div>*@

            <script>$('#Descripcion').trigger('autoresize');</script>

            <div class="input-field">
                <i class="material-icons prefix">location_on</i>
                @Html.EditorFor(model => model.Model.Direccion, new { htmlAttributes = new { @class = "form-control", @data_length = "200" } })
                @Html.LabelFor(model => model.Model.Direccion)
                @Html.ValidationMessageFor(model => model.Model.Direccion, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Model.StartDate, htmlAttributes: new { @class = "active" })
                    @Html.EditorFor(model => model.Model.StartDate, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.Model.StartDate, "", new { @class = "validate" })
                </div>
                <div class="input-field col s6">
                    <input class="text-box single-line col-2" id="HoraInicio" name="HoraInicio" type="time" value="12:00" />
                    <label for="last_name" class="active">Hora inicio</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Model.EndDate, htmlAttributes: new { @class = "active" })
                    @Html.EditorFor(model => model.Model.EndDate, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.Model.EndDate, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s6">
                    <input class="text-box single-line col-2" id="HoraFin" name="HoraFin" type="time" value="12:00" />
                    <label for="last_name" class="active">Hora fin</label>
                </div>


                <div class="row">
                    <div class="input-field col s6">
                        @Html.DropDownListFor(model => model.Model.SelectedCountry, new SelectList(Model.Model.Countries, "id", "countryname"), "País Destino", new { @class = "form-control" })
                    </div>
                 </div>
                </div>
            </div>
    }


        <script>
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });</script>  

<script>
            $(document).ready(function () {
                $('select').material_select();
            });
</script>
