@model ViewModels.CitiesModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Images.Count > 0)
{
    <div class="parallax-container">
        <div class="parallax"><img src="@Model.Images[0].RutaImagen"></div>
    </div>
}
<div class="section white">
    <div class="row">
        <h2 class="center-align" style="font-family: 'Century Gothic'">@Model.City.CityName</h2>
    </div>
</div>
<hr />
<div class="container">
    <div id="map" style="width:100%;height:300px;"></div>
</div>
<hr />
<div id="ImagesDiv">
    @Html.Action("AddImage", "Cities", new { CityId = Model.City.Id })
</div>





<script>

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat:@Model.City.lat, lng: @Model.City.lng },
            zoom: 12
        });

        var infoWindow = new google.maps.InfoWindow({ map: map });


        var myMarker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.City.lat, @Model.City.lng),
            draggable: false
        });


        map.setCenter(myMarker.position);
        myMarker.setMap(map);
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPHbsGCp8vpDA1vMKAFWsU0Odc8Mz5SAA&callback=initMap" async defer></script>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>

<script>
    $(document).on("submit", "#imagesForm", function (e) {
        var id = $("#CityId").val();
        var files = $("#file").get(0).files;
        e.preventDefault();
        var data = new FormData();
        data.append("CityId", id);
        data.append("file", files[0]);
        $.ajax({
            url: "/Cities/AddImageBD",
            type: "POST",
            data: data,
            contentType: false, 
            processData: false,
            beforeSend: function () {
                $("#imagesForm *").prop("disabled", true);
            },
            success: function (result) {
                if (result.includes("loginForm")) {
                    window.location.replace("/Home/Login");
                } else {
                    var Reload = "ImagesDiv"
                    $("#" + Reload).html("");
                    $("#" + Reload).html(result);
                }

            }
        });
    });


</script>